body
  font-family "Fira Sans OT", "XinGothic-Citicpress", "XinGothic Citicpress", "Lantinghei TC", "Hiragino Kaku Gothic Pro", "Apple LiGothic", "Heiti TC", "LiHei Pro", "Microsoft YaHei", "微軟正黑體", "文泉驿正黑", sans-serif;
  background url("/img/g0v-tiny.png") #16161D fixed right bottom no-repeat
  padding 1em
  line-height 1.4

.entry
  margin-bottom 3em

.time, .location
  font-weight bold
  &:after
    content ' '

.time, .time a
  color #f60
  &:hover
    color #f90   

.location
  color #f90

.content
  color #ddd
  margin-top: 0.2em

.empty
  color #999
  text-decoration none
  &:hover
    color white
