body {
  font-family: "Fira Sans OT", "XinGothic-Citicpress", "XinGothic Citicpress", "Lantinghei TC", "Hiragino Kaku Gothic Pro", "Apple LiGothic", "Heiti TC", "LiHei Pro", "Microsoft YaHei", "微軟正黑體", "文泉驿正黑", sans-serif;
  background: url("/img/g0v-tiny.png") #16161d fixed right bottom no-repeat;
  padding: 1em;
  line-height: 1.4;
}
.entry {
  margin-bottom: 2em;
}
.time,
.location {
  font-weight: bold;
}
.time:after,
.location:after {
  content: ' ';
}
.time,
.time a {
  color: #f60;
}
.time:hover,
.time a:hover {
  color: #f90;
}
.location {
  color: #f90;
}
.content {
  color: #ddd;
  margin-top: 0.2em;
}
.empty {
  color: #999;
  text-decoration: none;
}
.empty:hover {
  color: #fff;
}
