body {
  font-family: "Fira Sans OT", "XinGothic-Citicpress", "XinGothic Citicpress", "Lantinghei TC", "Hiragino Kaku Gothic Pro", "Apple LiGothic", "Heiti TC", "LiHei Pro", "Microsoft YaHei", "微軟正黑體", "文泉驿正黑", sans-serif;
  background: url("/img/g0v-tiny.png") #16161d fixed right bottom no-repeat;
}
.time,
.location {
  font-weight: bold;
}
.time:after,
.location:after {
  content: ' ';
}
.time {
  color: #f60;
}
.location {
  color: #f90;
}
.content {
  color: #fff;
}
.empty {
  display: block;
  margin-top: 16px;
  margin-bottom: 16px;
  color: #999;
  text-decoration: none;
}
.empty:hover {
  color: #fff;
}
